<table align="left" width=100%>
    <tr>
        <td width="12%">
            <img src="../../../images/RA_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=6px>
                    <b>Read CSV File - Without Function - 01 </b>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/vidyadharbendre/learn_machine_learning/blob/main/regression/jupyter_notebooks/01_read_csv/01_read_csv_without_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/vidyadharbendre/learn_machine_learning/blob/main/regression/jupyter_notebooks/01_read_csv/01_read_csv_without_function.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

In [7]:
import os
import pandas as pd

In [8]:
# Example: Read Titanic dataset
employee_compensation_data_path = '../../data/employee_compensation.csv'
employee_compensation_data = pd.read_csv(employee_compensation_data_path)

In [10]:
# Example: Print the first few rows of each dataset
print("Employee Compensation Dataset:")
print(employee_compensation_data.head())

Employee Compensation Dataset:
  Year_Type  Year  Employee_Identifier  Salaries  Overtime  Other_Salaries  \
0    Fiscal  2015                42853  92288.22    267.45          267.45
1  Calendar  2015                28248   1466.38    348.23            0.00
2    Fiscal  2014                30651  76536.95  13583.72        10855.94
3    Fiscal  2014                19473  45659.88      0.00         1625.37
4    Fiscal  2013                 7176  41832.00      0.00            0.00

   Total_Salary  Retirement  Health/Dental  Other_Benefits  Total_Benefits  \
0      92823.12    20700.20       12500.56         7605.75        40806.51
1       1814.61        0.00         442.03          141.59          583.62
2     100976.61    18632.19       12464.61         8011.41        39108.21
3      47285.25    10081.20           0.00         3936.63        14017.83
4      41832.00     7617.60        5908.52         3254.50        16780.62

   Total_Compensation
0           133629.63
1             2398.23
2           140084.82
3            61303.08
4            58612.62

In [12]:
# Example: Read House Prices dataset
house_prices_data_path = '../../data/houseprice.csv'
house_prices_data = pd.read_csv(house_prices_data_path)

In [13]:
print("\nHouse Prices Dataset:")
print(house_prices_data.head())

House Prices Dataset:
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [15]:
# Example: Read Iris Species dataset
iris_data_path = '../../data/iris.csv'
iris_data = pd.read_csv(iris_data_path)

In [16]:
print("\nIris Dataset:")
print(iris_data.head())

Iris Dataset:
   sepal length  sepal width  petal length  petal width   class
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa